<?xml version="1.0"?>

<launch>
<!-- Launch World -->
<include file="$(find aws_robomaker_small_warehouse_world)/launch/small_warehouse.launch"/>

<!--<include file="$(find hector_gazebo_worlds)/launch/start.launch">
   <arg name="world" value="$(find aws_robomaker_small_warehouse_world)/launch/small_warehouse.launch"/> 
</include>-->
...
</launch>